/*cuando pongas colores con el root usa var() para eso
EJ: background-color: var(--your-shit-here);
*/

:root {
  --green: #2f9e44;
  --golden: #ffd43b;
  --soft-green: #b2f2bb;
  --softer-green: #69db7c;
}

body {
  background-color: var(--soft-green);
}
